.OutputPage {
  background-image: url("./../../assets/cameraPage/cameraPageBg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 10vw 0;
  gap: 8vw;
  justify-content: flex-start !important;

  .logoContainer {
    width: 60vw;
  }

  .bottom {
  }

  .loader {
    margin-top: 20vw;
    width: 70vw;
  }
  .generatedImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    .imgContainer {
      width: 38vw;
    }
    .btnContainer {
      gap: 3vw;
    }
  }
}
