.OutputPage {
  /* border: 1px solid #fff; */
  /* margin-top: 6vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;

  .headingImgOne {
    width: 50vw;
  }
  .headingImgTwo {
    width: 50vw;
  }
  .loader {
    margin-top: 20vw;
    width: 70vw;
  }
  .generatedImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    .imgContainer {
      width: 38vw;
    }
    .btnContainer {
      gap: 3vw;
      /* .btn {
          width: 60vw;
          padding: 1vw 5vw;
        } */
    }
  }
}
